<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tarefas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <div class="card-header-content">
        <ion-card-title>Hoje {{dataHoje | date:'dd/MM/yyyy'}}</ion-card-title>
        <ion-icon name="list-outline"></ion-icon>
      </div>
    </ion-card-header>

    @if(tarefas.length > 0) {
      <ion-card-content>
        <ion-list>
          @for (tarefa of tarefas; track tarefa.id) {
            <ion-item>
              <ion-checkbox [(ngModel)]="tarefa.concluido" slot="start" color="success" (click)="atualizarTarefa(tarefa)"></ion-checkbox>
              <ion-label [ngClass]="{'texto-taxado': tarefa.concluido}" >{{ tarefa.titulo }}</ion-label>
              <ion-note slot="end" class="ion-text-wrap">{{ tarefa.descricao }}</ion-note>
            </ion-item>
          }
        </ion-list>
      </ion-card-content>
    } @else {
      <ion-card-content>
        <ion-text color="warning">
          Nenhuma tarefa cadastrada
        </ion-text>
      </ion-card-content>
    }
  </ion-card>


  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <div class="card-header-content">
              <ion-card-title>A Fazer</ion-card-title>
              <ion-icon color="danger" name="close-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
            {{getQuantidadeTarefasNaoConcluidas()}}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <div class="card-header-content">
              <ion-card-title>Feito</ion-card-title>
              <ion-icon color="success" name="checkmark-outline"></ion-icon>
            </div>
          </ion-card-header>
          <ion-card-content>
            {{getQuantidadeTarefasConcluidas()}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!--  #1 adicionar fab button-->
  <ion-fab class="ion-margin" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="/nova-tarefa">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
